{% extends 'base.html' %}

{% block title %} | Committee {% endblock %}

{% load static %}

{% block content %}
<div id="committee" class="col-12 col-md-8 col-lg-9 pl-4 pr-4">
        <h3 id="main_title" class="text-center display-4 my-4">Governing Committee</h3>
        <div class="row">
            {% for position in committee %}
                <div class="col-12 col-lg-6 col-xl-4 mb-4">
                    <div class="card h-100">
                        <img alt="" class="card-img-top" src="../media/{{ position.member.photo }}">
                        <div class="card-body">
                        <h4 class="card-title">{{ position.position }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">{{position.member}}</h6>
                        <p class="card-text">{{ position.short_desc }}</p>
                        </div>
                        <div class="card-footer bg-dark d-flex justify-content-center">
                        <p style="font-size: 0.8rem;" class="card-text text-primary"><i class="far fa-envelope mr-2"></i>{{ position.email }}</p>
                        </div>           
                    </div>
                </div>
            {% endfor %}
        </div>
</div>    

{% endblock %}