{% extends 'base.html' %}

{% block title %} | Life Members {% endblock %}

{% load static %}

{% block content %}
<div id="committee" class="col-12 col-md-8 col-lg-9 pl-4 pr-4">
        <h3 id="main_title" class="text-center display-4 my-4">Geelong Archers Life Members</h3>
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card mb-4">
                    <img alt="" class="card-img-top" src="https://scontent.fmel8-1.fna.fbcdn.net/v/t31.0-8/p960x960/20229483_10213434776212907_1357225272390091645_o.jpg?_nc_cat=102&_nc_sid=85a577&_nc_ohc=MTyKOj3yxq0AX-hhhpD&_nc_ht=scontent.fmel8-1.fna&_nc_tp=6&oh=bf01f598c8fb6ecea9911726768c36f2&oe=5EACB30A">
                    <div class="card-body">
                    <h4 class="card-title">John Smith</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Years Active: 1985-2015</h6>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus in, fugit eveniet enim suscipit dolorem eligendi a voluptate dolorum adipisci, reiciendis est quaerat distinctio nesciunt rerum optio ratione. Impedit, modi.
                    </div>
                    <div class="card-footer bg-dark d-flex justify-content-center">
                    <p class="card-text text-primary"></p>
                    </div>           
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card mb-4">
                    <img alt="" class="card-img-top" src="https://scontent.fmel8-1.fna.fbcdn.net/v/t31.0-8/p960x960/20229483_10213434776212907_1357225272390091645_o.jpg?_nc_cat=102&_nc_sid=85a577&_nc_ohc=MTyKOj3yxq0AX-hhhpD&_nc_ht=scontent.fmel8-1.fna&_nc_tp=6&oh=bf01f598c8fb6ecea9911726768c36f2&oe=5EACB30A">
                    <div class="card-body">
                    <h4 class="card-title">John Smith</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Years Active: 1985-2015</h6>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus in, fugit eveniet enim suscipit dolorem eligendi a voluptate dolorum adipisci, reiciendis est quaerat distinctio nesciunt rerum optio ratione. Impedit, modi.
                    </div>
                    <div class="card-footer bg-dark d-flex justify-content-center">
                    <p class="card-text text-primary"></p>
                    </div>           
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card mb-4">
                    <img alt="" class="card-img-top" src="https://scontent.fmel8-1.fna.fbcdn.net/v/t31.0-8/p960x960/20229483_10213434776212907_1357225272390091645_o.jpg?_nc_cat=102&_nc_sid=85a577&_nc_ohc=MTyKOj3yxq0AX-hhhpD&_nc_ht=scontent.fmel8-1.fna&_nc_tp=6&oh=bf01f598c8fb6ecea9911726768c36f2&oe=5EACB30A">
                    <div class="card-body">
                    <h4 class="card-title">John Smith</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Years Active: 1985-2015</h6>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus in, fugit eveniet enim suscipit dolorem eligendi a voluptate dolorum adipisci, reiciendis est quaerat distinctio nesciunt rerum optio ratione. Impedit, modi.
                    </div>
                    <div class="card-footer bg-dark d-flex justify-content-center">
                    <p class="card-text text-primary"></p>
                    </div>           
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card mb-4">
                    <img alt="" class="card-img-top" src="https://scontent.fmel8-1.fna.fbcdn.net/v/t31.0-8/p960x960/20229483_10213434776212907_1357225272390091645_o.jpg?_nc_cat=102&_nc_sid=85a577&_nc_ohc=MTyKOj3yxq0AX-hhhpD&_nc_ht=scontent.fmel8-1.fna&_nc_tp=6&oh=bf01f598c8fb6ecea9911726768c36f2&oe=5EACB30A">
                    <div class="card-body">
                    <h4 class="card-title">John Smith</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Years Active: 1985-2015</h6>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus in, fugit eveniet enim suscipit dolorem eligendi a voluptate dolorum adipisci, reiciendis est quaerat distinctio nesciunt rerum optio ratione. Impedit, modi.
                    </div>
                    <div class="card-footer bg-dark d-flex justify-content-center">
                    <p class="card-text text-primary"></p>
                    </div>           
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card mb-4">
                    <img alt="" class="card-img-top" src="https://scontent.fmel8-1.fna.fbcdn.net/v/t31.0-8/p960x960/20229483_10213434776212907_1357225272390091645_o.jpg?_nc_cat=102&_nc_sid=85a577&_nc_ohc=MTyKOj3yxq0AX-hhhpD&_nc_ht=scontent.fmel8-1.fna&_nc_tp=6&oh=bf01f598c8fb6ecea9911726768c36f2&oe=5EACB30A">
                    <div class="card-body">
                    <h4 class="card-title">John Smith</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Years Active: 1985-2015</h6>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus in, fugit eveniet enim suscipit dolorem eligendi a voluptate dolorum adipisci, reiciendis est quaerat distinctio nesciunt rerum optio ratione. Impedit, modi.
                    </div>
                    <div class="card-footer bg-dark d-flex justify-content-center">
                    <p class="card-text text-primary"></p>
                    </div>           
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card mb-4">
                    <img alt="" class="card-img-top" src="https://scontent.fmel8-1.fna.fbcdn.net/v/t31.0-8/p960x960/20229483_10213434776212907_1357225272390091645_o.jpg?_nc_cat=102&_nc_sid=85a577&_nc_ohc=MTyKOj3yxq0AX-hhhpD&_nc_ht=scontent.fmel8-1.fna&_nc_tp=6&oh=bf01f598c8fb6ecea9911726768c36f2&oe=5EACB30A">
                    <div class="card-body">
                    <h4 class="card-title">John Smith</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Years Active: 1985-2015</h6>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus in, fugit eveniet enim suscipit dolorem eligendi a voluptate dolorum adipisci, reiciendis est quaerat distinctio nesciunt rerum optio ratione. Impedit, modi.
                    </div>
                    <div class="card-footer bg-dark d-flex justify-content-center">
                    <p class="card-text text-primary"></p>
                    </div>           
                </div>
            </div>
            
        </div>   
</div>    

{% endblock %}