{% extends 'base.html' %}

{% block title %} | Life Members {% endblock %}

{% load static %}

{% block content %}
<div id="committee" class="col-12 col-md-8 col-lg-9 pl-4 pr-4">
        <h3 id="main_title" class="text-center">Geelong Archer's Life Members</h3>
        <div class="row">
            {% for member in members %}
                <div class="col-12 col-lg-6 col-xl-4 mb-4">
                    <div class="card h-100">
                        <img alt="" class="card-img-top" src="../media/{{ member.photo }}">
                        <div class="card-body">
                        <h4 class="card-title">{{ member }}</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Active: {{member.date_active_start }} - {{member.date_active_end }}</h6>
                        <p class="card-text">{{ member.short_desc }}</p>
                        </div>
                        <div class="card-footer bg-dark d-flex justify-content-center">
                        <p class="card-text text-primary">Year Admitted: {{ member.year_made }}</p>
                        </div>           
                    </div>
                </div>
            {% endfor %}
        </div>
</div>    

{% endblock %}