{% extends 'base.html' %}

{% load static %}

{% block title %} | Archery Basics {% endblock %}

{% block content %}
<div id="committee" class="col-12 col-md-8 col-lg-9 pl-4 pr-4">
        <h3 id="main_title" class="text-center display-4 my-4">Archery Basics</h3>
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card mb-4">
                    <img alt="" class="card-img-top" src="{% static 'img/recurve.jpg' %}">
                    <div class="card-body">
                    <h4 class="card-title text-center">Recurve</h4>
                    <p class="card-text text-center">The Basics of Recurve Archery</p>
                    </div>
                    <div class="card-footer bg-dark d-flex justify-content-center">
                    <a href="{% url 'wiki-recurve' %}" class="btn btn-lg btn-outline-primary"><i class="fas fa-book mr-2"></i>Learn More</a>
                    </div>           
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card mb-4">
                    <img alt="" class="card-img-top" src="{% static 'img/compound.jpg' %}">
                    <div class="card-body">
                    <h4 class="card-title text-center">Compound</h4>
                    <p class="card-text text-center">The Basics of Compound Archery</p>
                    </div>
                    <div class="card-footer bg-dark d-flex justify-content-center">
                    <a href="{% url 'wiki-compound' %}" class="btn btn-lg btn-outline-primary"><i class="fas fa-book mr-2"></i>Learn More</a>
                    </div>           
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4">
                <div class="card mb-4">
                    <img alt="" class="card-img-top" src="{% static 'img/longbow.jpg' %}">
                    <div class="card-body">
                    <h4 class="card-title text-center">Longbow</h4>
                    <p class="card-text text-center">The Basics of Longbow Archery</p>
                    </div>
                    <div class="card-footer bg-dark d-flex justify-content-center">
                    <a href="{% url 'wiki-longbow' %}" class="btn btn-lg btn-outline-primary"><i class="fas fa-book mr-2"></i>Learn More</a>
                    </div>           
                </div>
            </div>
           
        </div>   
</div>    

{% endblock %}