{% extends 'base.html' %}

{% load static %}

{% block content %}
<script>
    function showHideWarning(){
        if($( "#contact_reason" ).val()=='hunting') {
            console.log('hunting')
            $( "#warning" ).attr( "style", "display: block !important;" )
        }else{
            console.log('not hunting')
            $( "#warning" ).attr( "style", "display: none !important;" )
        }
    
    };
    function showHideExperience(){
        if($( "#contact_experience" ).val()=='club') {
            console.log('hunting')
            $( "#experience" ).attr( "style", "display: block !important;" )
        }else{
            console.log('not hunting')
            $( "#experience" ).attr( "style", "display: none !important;" )
        }
    
    };
</script>
<div id="contact" class="col-12 col-md-8 col-lg-9 pl-4 pr-4">
    <h3 id="main_title" class="text-center display-4 my-4">Sign Up to an Event</h3>
    <div class="row">
        <div class="col-12 col-sm-10 col-md-12 col-lg-10 m-auto">
            <div class="row">
                <div class="col-4 pr-0 mr-0">
                    <div class="col-12 event_image" style="background-image: url({% static 'img/img12.jpg' %})">
                   </div>
                </div>
                
                <div class="col-8 pl-0 ml-0">
                    <div class="card pl-0 ml-0">
                        <div class="card-header">{{ contact_event.short_title }}</div>
                        <div class="card-body">
                            <h5 id="title" class="card-title pb-0 mb-0">{{ contact_event.short_title }}</h5>
                            <small id="date" class="text-muted mt-0 pt-0">{{ contact_event.date_start }}-{{ contact_event.date_end }}</small>
                            <p id="desc" class="card-text">{{ contact_event.short_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-10 col-md-12 col-lg-10 m-auto">
            <div class="card mt-3">
                <div class="card-header bg-primary"></div>
                <div class="card-body py-3 px-4">
                    <h3 class="text-center text-dark">Sign Up to {{ contact_event.short_title }}</h3>
                    <form action="{% url 'contact-events' contact_type contact_event.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <input type="hidden" name="contact_event_id" value="{{ contact_event.id }}">
                            <div class="form-group col-6">
                                <label for="contact_fname">First Name</label>
                                <input type="text" class="form-control" name="contact_fname" id="contact_fname" maxlength="50">
                            </div>
                            <div class="form-group col-6">
                                <label for="contact_lname">Last Name</label>
                                <input type="text" class="form-control" name="contact_lname" id="contact_lname" maxlength="100">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="contact_email">Email</label>
                                <input type="email" class="form-control" name="contact_email" id="contact_email">
                            </div>
                            <div class="form-group col-6">
                                <label for="contact_phone">Contact Number</label>
                                <input type="text" class="form-control" name="contact_phone" id="contact_phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="contact_age">Age</label>
                                <input type="number" class="form-control" name="contact_age" id="contact_age">
                            </div>
                            <div class="form-group col-6">
                                <label for="contact_dominant">Dominant Hand</label>
                                <select class="custom-select custom-select" name="contact_dominant" id="contact_dominant">
                                    <option selected value="right">Right Handed</option>
                                    <option value="left">Left Handed</option>
                                    <option value="other">Unsure</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="contact_experience">Have you shot before?</label>
                                <select class="custom-select custom-select" name="contact_experience" id="contact_experience" onchange="showHideExperience()">
                                    <option selected value="No">No</option>
                                    <option value="club">Yes - With another Archery Club</option>
                                    <option value="facility">Yes - At an event/facility (Adventure Park etc.)</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <label for="contact_reason">Reason for getting into Archery?</label>
                                <select class="custom-select custom-select" name="contact_reason" id="contact_reason" onchange="showHideWarning()">
                                    <option selected value="Social">Social Sport</option>
                                    <option value="competetive">Competetive Sport</option>
                                    <option value="hunting">Hunting</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" >
                            <div class="col-12 d-none my-2" id="experience">
                                <div class="col-12 col-md-8 m-auto p-3 bg-primary text-dark rounded">
                                    <h5 class="font-weight-bold">Please Note:</h5>
                                    <p class="pb-0 mb-0">
                                        If you have shot before in a club setting or previously completed a Beginner's Course you may not 
                                        need to do this course. Instead, you can arrange a time to come down to the club so that we may assess
                                        your shooting ability and decide if you need to complete a Beginner's Course before joining the club. 
                                        Please contact our Come and Try Coordinator at <a class="text-secondary" href="mailto:comeandtry@geelongarchers.com.au">comeandtry@geelongarchers.com.au</a> for more information or to arrange a time.
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 d-none my-2" id="warning">
                                <div class="col-12 col-md-8 m-auto p-3 bg-primary text-dark rounded">
                                    <h5 class="font-weight-bold">Please Note:</h5>
                                    <p class="pb-0 mb-0">
                                        While you are more than welcome to attend one of our Begginner's Courses; 
                                        Geelong Archers is primarily a Target and Social club. As bowhunting as a sport is very different to target
                                        archery we recommend contacting the Geelong Trophy Bowhunters if your primary interest is hunting.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-right my-0 py-0">
                            <a href="{% url 'events-main' %}" class="btn btn-outline-danger btn-lg mr-3">Cancel</a>
                            {% if listing_event.current_participants < listing_event.max_participants %}
                            <input type="submit" value="Sign Up!" class="btn btn-primary btn-lg">
                            {% else %}
                            <div class="btn btn-primary btn-lg disabled">Course Full</div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="card-footer bg-dark rounded-bottom"></div>
            </div>
        </div>
        
    </div>
</div>   
    

{% endblock %}
{% block dependancies %} 
{% endblock %} 
